<div class="row" id="PanelRespuesta">

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

        <div class="panel panel-default">

            <div class="panel panel-heading cabeceraTitulos">Resultado</div>

            <div class="panel panel-body">
                <div id="ObtenerResultados"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
<script src="~/Scripts/Alumnos.js"></script>
